{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
    <div id="area-contactos" class="w-1200">
        <h1 class="titulo-area h2">Contactos</h1>
        <p class="hero__subtitle">
            <a href="mailto:1998andrecarvalho@gmail.com">📧</a>
        </p>
        <div class="wrapper-slider-home__row__coluna-texto__social-media">
            <a class="url-facebook" style="display:inline-block"
               href="https://www.facebook.com/andre.carvalho.52831666/" target="_blank">
                <img width="30" loading="lazy" class="icon-pequeno" alt="André Carvalho - Facebook"
                     src="https://www.amccweb.com/ficheiros/imagens/base/icons/facebook.png">
            </a>
            <a class="url-instagram" style="display:inline-block" href="https://www.instagram.com/amcc1998/"
               target="_blank">
                <img width="30" loading="lazy" class="icon-pequeno" alt="André Carvalho - Instagram"
                     src="https://www.amccweb.com/ficheiros/imagens/base/icons/instagram.png">
            </a>
            <a class="url-linkedin" style="display:inline-block"
               href="https://www.linkedin.com/in/andr%C3%A9-carvalho-9978a6168/" target="_blank">
                <img width="30" loading="lazy" class="icon-pequeno" alt="André Carvalho - Linkedin"
                     src="https://www.amccweb.com/ficheiros/imagens/base/icons/linkedin.png">
            </a>
            <a class="url-youtube" style="display:inline-block"
               href="https://www.youtube.com/user/0AndreCarvalho?sub_confirmation=1" target="_blank">
                <img width="30" loading="lazy" class="icon-pequeno" alt="André Carvalho - YouTube"
                     src="https://www.amccweb.com/ficheiros/imagens/base/icons/youtube.png">
            </a>
        </div>
    </div>
{% endblock %}


