{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
    <div id="area-sobre">
        <div class="intro">
            <div class="wrapper-texto">
                <h1 class="titulo-area h2">Sobre Mim</h1>
                <p>O meu interesse pela programação web começou há 5 anos quando ingressei no meu primeiro emprego.
                    Aqui comecei como Backend Developer e Frontend Developer, especializando-me em Frontend Developer nos últimos 2 anos.
                    Tenho em conta a experiência como Backend como uma mais-valia no auxílio de Frontend Developer.</p>
                <p>
                    <b><a href="https://www.amccweb.com/ficheiros/imagens/base/curriculo.pdf" class="button" target="_blank">Ver Currículo</a></b>
                </p>
            </div>
        </div>

        <div class="skills">
            <h2>Skills</h2>
            <div class="skill-lista">
                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/php.svg' %}" loading="lazy" alt="PHP | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 90%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/html.svg' %}" loading="lazy" alt="HTML | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 90%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/js.svg' %}" loading="lazy" alt="JS | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 80%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/scss.svg' %}" loading="lazy" alt="SCSS | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 90%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/c.svg' %}" loading="lazy" alt="C | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 40%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/java.svg' %}" loading="lazy" alt="java | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 40%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/kotlin.svg' %}" loading="lazy" alt="Kotlin | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 30%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/arduino.svg' %}" loading="lazy" alt="Arduino | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 70%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/sql.svg' %}" loading="lazy" alt="Sql | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 30%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/figma.svg' %}" loading="lazy" alt="figma | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 60%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/ai.svg' %}" loading="lazy" alt="AI | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 50%"></span>
                        </div>
                    </div>
                </div>

                <div class="skill__item">
                    <div class="wrapper-img">
                        <img src="{% static 'portfolio/images/ps.svg' %}" loading="lazy" alt="PhotoShop | André Carvalho">
                    </div>
                    <div class="classificacao">
                        <div class="classificacao__item">
                            <span style="width: 50%"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="formacao">
            <h2>Formações / Experiência</h2>
            {% for formacao in formacoes %}
                <div class="formacao__item">
                    <div class="wrapper-texto">
                        {% if formacao.pdfFile != "" %}
                            <a target="_blank" href="{{ formacao.pdfFile.url }}">
                                <h3>{{ formacao.titulo }}</h3>
                            </a>
                        {% else %}
                            <h3>{{ formacao.titulo }}</h3>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}


