section:not(.no-mb) {
  margin-bottom: 7rem;
}

header .link-menu-mobile {
  display: none;
}

footer {
  margin-top: 7rem;
}

@media (min-width: 1024px) {
  h1, .h1 {
    line-height: 1;
    font-size: 89.6564171164px;
  }
  h2, .h2 {
    line-height: 1;
    font-size: 57.772816512px;
  }
  h3, .h3 {
    line-height: 1;
    font-size: 26.886784px;
  }
  h4, .h4 {
    line-height: 1;
    font-size: 25.888px;
  }
  h5, .h5 {
    line-height: 1;
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  h1, .h1 {
    line-height: 1;
    font-size: 89.6564171164px;
  }
  h2, .h2 {
    line-height: 1;
    font-size: 57.772816512px;
  }
  h3, .h3 {
    line-height: 1;
    font-size: 26.886784px;
  }
  h4, .h4 {
    line-height: 1;
    font-size: 25.888px;
  }
  h5, .h5 {
    line-height: 1;
    font-size: 16px;
  }
  section:not(.no-mb) {
    margin-bottom: 3.5rem;
  }
  footer {
    margin-top: 6rem;
  }
}
@media (max-width: 640px) {
  h1, .h1 {
    line-height: 1;
    font-size: 69.6564171164px;
  }
  h2, .h2 {
    line-height: 1;
    font-size: 37.772816512px;
  }
  h3, .h3 {
    line-height: 1;
    font-size: 41.886784px;
  }
  h4, .h4 {
    line-height: 1;
    font-size: 25.888px;
  }
  h5, .h5 {
    line-height: 1;
    font-size: 16px;
  }
  footer {
    margin-top: 4rem;
  }
}
@media (max-width: 1024px) {
  header div.logo {
    font-size: 1.2rem;
  }
  header .dropdown {
    position: relative;
    width: 100%;
  }
  header .dropdown .dropdown__content {
    top: 3rem;
    z-index: 9;
  }
  a.link-menu-mobile {
    display: block;
    width: 2rem;
    position: relative;
    height: 1.8rem;
    z-index: 5;
    margin-left: 0.5rem;
  }
  a.link-menu-mobile .middle-bar {
    border: 2px solid white;
    position: absolute;
    display: block;
    width: 60%;
    top: 45%;
    transition: transform 0.2s;
    opacity: 1;
  }
  a.link-menu-mobile::before {
    content: "";
    border: 2px solid white;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    transition: transform 0.2s;
  }
  a.link-menu-mobile::after {
    content: "";
    border: 2px solid white;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    transition: transform 0.2s;
  }
  a.link-menu-mobile.link-menu-mobile--close .middle-bar {
    transform: translateX(-4rem);
  }
  a.link-menu-mobile.link-menu-mobile--close::before {
    transform: rotate(45deg);
    top: 59%;
  }
  a.link-menu-mobile.link-menu-mobile--close::after {
    transform: rotate(309deg);
    bottom: 36%;
  }
  nav.hero__menu {
    display: none;
  }
  nav.hero__menu.hero__menu--open {
    position: absolute;
    height: 100%;
    width: 80%;
    max-width: 300px;
    background-color: rgba(33, 33, 33, 0.99);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  nav.hero__menu.hero__menu--open a {
    width: 100%;
  }
  nav.hero__menu.hero__menu--open ul {
    height: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-items: center;
    align-content: center;
  }
  nav.hero__menu.hero__menu--open ul li {
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
form input, form textarea, form select {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 11px 13px;
}

.button, button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #f7b63e;
  border-radius: 0.6em;
  color: #f7b63e;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 2rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
}
.button:hover, .button:focus, button:hover, button:focus {
  color: #fff;
  outline: 0;
}
.button:hover, button:hover {
  box-shadow: 0 0 40px 40px #f7b63e inset;
}

header {
  height: 60px;
  background: #2b2b2b;
  color: white;
  top: 0;
  /* alinhando logo e menu */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div {
  font-size: 2em;
  padding: 1em;
}
header nav {
  display: flex;
  justify-contents: flex-end;
}
header nav a {
  padding: 1rem 1em;
  text-decoration: none;
  font-size: 1rem;
  color: lightgray;
}
header .dropdown {
  padding: 0;
  display: flex;
}
header .dropdown .dropdown__trigger {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: -2px;
}
header .dropdown .dropdown__trigger:after {
  content: "+";
  margin-left: 0.8rem;
  width: 10px;
  height: 10px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}
header .dropdown .dropdown__content {
  position: absolute;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
  background-color: #2b2b2b;
  color: white;
  top: 45px;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}
header .dropdown .dropdown__content:hover {
  display: flex;
  opacity: 1;
}
header .dropdown .dropdown__content a {
  padding: 0;
  width: 100%;
}
header .dropdown:hover .dropdown__content {
  display: flex;
  opacity: 1;
}

* {
  font-family: "Geologica", sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 0 auto;
  min-height: calc(100vh - 60px - 40px);
}
main .w-1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}
main .w-800 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}
main .w-600 {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 12px;
}
main #area-home #banner {
  margin-top: 7rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
main #area-home #banner .banner__texto h1 {
  margin-top: 0;
  margin-bottom: 0;
}
main #area-home #banner .banner__img img {
  max-width: 500px;
}
main #area-home #sobre {
  background-color: #2b2b2b;
  width: 100%;
  padding: 3.5rem 0;
  color: white;
}
main #area-home #sobre .wrapper-info h2 {
  margin-top: 0;
}
main #area-home #sobre .wrapper-info .button {
  margin-top: 3rem;
}
main #area-home #projetos, main #area-home #videos {
  text-align: center;
}
main #area-home #projetos .button, main #area-home #videos .button {
  margin-top: 3rem;
}
main #area-home .projetos-destaque, main #area-home .lista-projetos, main #area-videos .projetos-destaque, main #area-videos .lista-projetos, main #area-projetos .projetos-destaque, main #area-projetos .lista-projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
main #area-home .projetos-destaque .lista-projetos__item, main #area-home .lista-projetos .lista-projetos__item, main #area-videos .projetos-destaque .lista-projetos__item, main #area-videos .lista-projetos .lista-projetos__item, main #area-projetos .projetos-destaque .lista-projetos__item, main #area-projetos .lista-projetos .lista-projetos__item {
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.04);
  -webkit-transition: box-shadow 0.3s;
  border-radius: 5px;
}
main #area-home .projetos-destaque .lista-projetos__item:hover, main #area-home .lista-projetos .lista-projetos__item:hover, main #area-videos .projetos-destaque .lista-projetos__item:hover, main #area-videos .lista-projetos .lista-projetos__item:hover, main #area-projetos .projetos-destaque .lista-projetos__item:hover, main #area-projetos .lista-projetos .lista-projetos__item:hover {
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.08);
}
main #area-home .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-img img, main #area-home .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-img img, main #area-videos .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-img img, main #area-videos .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-img img, main #area-projetos .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-img img, main #area-projetos .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-img img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 3/2;
  border-radius: 5px 5px 0 0;
}
main #area-home .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-conteudo, main #area-home .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-conteudo, main #area-videos .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-conteudo, main #area-videos .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-conteudo, main #area-projetos .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-conteudo, main #area-projetos .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-conteudo {
  padding: 1.5rem 1.5rem 3rem;
}
main #area-home .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-conteudo .lista-projetos__item__titulo, main #area-home .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-conteudo .lista-projetos__item__titulo, main #area-videos .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-conteudo .lista-projetos__item__titulo, main #area-videos .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-conteudo .lista-projetos__item__titulo, main #area-projetos .projetos-destaque .lista-projetos__item .lista-projetos__item__wrapper-conteudo .lista-projetos__item__titulo, main #area-projetos .lista-projetos .lista-projetos__item .lista-projetos__item__wrapper-conteudo .lista-projetos__item__titulo {
  margin-bottom: 1.5rem;
}
main #area-home .videos-destaque, main #area-home .lista-videos, main #area-videos .videos-destaque, main #area-videos .lista-videos, main #area-projetos .videos-destaque, main #area-projetos .lista-videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
main #area-home .videos-destaque .lista-videos__item, main #area-home .lista-videos .lista-videos__item, main #area-videos .videos-destaque .lista-videos__item, main #area-videos .lista-videos .lista-videos__item, main #area-projetos .videos-destaque .lista-videos__item, main #area-projetos .lista-videos .lista-videos__item {
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.04);
  -webkit-transition: box-shadow 0.3s;
  border-radius: 5px;
}
main #area-home .videos-destaque .lista-videos__item:hover, main #area-home .lista-videos .lista-videos__item:hover, main #area-videos .videos-destaque .lista-videos__item:hover, main #area-videos .lista-videos .lista-videos__item:hover, main #area-projetos .videos-destaque .lista-videos__item:hover, main #area-projetos .lista-videos .lista-videos__item:hover {
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.08);
}
main #area-home .videos-destaque .lista-videos__item .lista-videos__item__wrapper-iframe, main #area-home .lista-videos .lista-videos__item .lista-videos__item__wrapper-iframe, main #area-videos .videos-destaque .lista-videos__item .lista-videos__item__wrapper-iframe, main #area-videos .lista-videos .lista-videos__item .lista-videos__item__wrapper-iframe, main #area-projetos .videos-destaque .lista-videos__item .lista-videos__item__wrapper-iframe, main #area-projetos .lista-videos .lista-videos__item .lista-videos__item__wrapper-iframe {
  height: 100%;
}
main #area-home .videos-destaque .lista-videos__item .lista-videos__item__wrapper-iframe iframe, main #area-home .lista-videos .lista-videos__item .lista-videos__item__wrapper-iframe iframe, main #area-videos .videos-destaque .lista-videos__item .lista-videos__item__wrapper-iframe iframe, main #area-videos .lista-videos .lista-videos__item .lista-videos__item__wrapper-iframe iframe, main #area-projetos .videos-destaque .lista-videos__item .lista-videos__item__wrapper-iframe iframe, main #area-projetos .lista-videos .lista-videos__item .lista-videos__item__wrapper-iframe iframe {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/8;
}
main #area-home .videos-destaque .lista-videos__item .llista-videos__item__wrapper-conteudo, main #area-home .lista-videos .lista-videos__item .llista-videos__item__wrapper-conteudo, main #area-videos .videos-destaque .lista-videos__item .llista-videos__item__wrapper-conteudo, main #area-videos .lista-videos .lista-videos__item .llista-videos__item__wrapper-conteudo, main #area-projetos .videos-destaque .lista-videos__item .llista-videos__item__wrapper-conteudo, main #area-projetos .lista-videos .lista-videos__item .llista-videos__item__wrapper-conteudo {
  padding: 1.5rem 1.5rem 3rem;
}
main #area-home .videos-destaque .lista-videos__item .llista-videos__item__wrapper-conteudo .lista-videos__item__titulo, main #area-home .lista-videos .lista-videos__item .llista-videos__item__wrapper-conteudo .lista-videos__item__titulo, main #area-videos .videos-destaque .lista-videos__item .llista-videos__item__wrapper-conteudo .lista-videos__item__titulo, main #area-videos .lista-videos .lista-videos__item .llista-videos__item__wrapper-conteudo .lista-videos__item__titulo, main #area-projetos .videos-destaque .lista-videos__item .llista-videos__item__wrapper-conteudo .lista-videos__item__titulo, main #area-projetos .lista-videos .lista-videos__item .llista-videos__item__wrapper-conteudo .lista-videos__item__titulo {
  margin-bottom: 1.5rem;
}
main #area-videos h1 {
  color: white;
}
main #area-videos #bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
}
main #area-labs {
  text-align: center;
}
main #area-labs .lista-labs .lista-labs__item {
  text-align: center;
  margin-bottom: 6rem;
}
main #area-labs .lista-labs .lista-labs__item iframe {
  margin-bottom: 2rem;
}
main #area-labs .lista-labs .lista-labs__item:last-child {
  margin-bottom: 0;
}
main #area-contactos {
  text-align: center;
}
main #area-contactos .hero__subtitle a {
  font-size: 1.8rem;
  text-decoration: none;
}
main #area-sobre {
  text-align: center;
}
main #area-sobre .intro {
  background-color: #f9f9f9;
  padding: 6rem 1rem;
}
main #area-sobre .intro .wrapper-texto {
  max-width: 600px;
  margin: auto;
}
main #area-sobre .intro .wrapper-texto h1 {
  margin-top: 0px;
}
main #area-sobre .skills {
  padding: 6rem 1rem;
  background-color: #2b2b2b;
  color: white;
}
main #area-sobre .skills h2 {
  margin-top: 0px;
}
main #area-sobre .skills .skill-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 700px;
  margin: auto;
  gap: 2rem 4rem;
}
main #area-sobre .skills .skill-lista .skill__item {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
main #area-sobre .skills .skill-lista .skill__item .wrapper-img {
  min-width: 80px;
}
main #area-sobre .skills .skill-lista .skill__item .wrapper-img img {
  max-width: 80px;
  max-height: 50px;
}
main #area-sobre .skills .skill-lista .skill__item .classificacao {
  height: 9px;
  background-color: #f9f9f9;
  width: 6rem;
  border-radius: 4px;
  position: relative;
  border: 2px solid #f7b63e;
}
main #area-sobre .skills .skill-lista .skill__item .classificacao span {
  position: absolute;
  background-color: #f7b63e;
  display: inline-block;
  left: 0;
  height: 100%;
}
main #area-sobre .formacao {
  padding: 6rem 1rem;
}
main #area-sobre .formacao h2 {
  margin-top: 0px;
}
main #area-meteorologia table {
  border: 2px solid #2b2b2b;
  border-radius: 4px;
}
main #area-meteorologia table td, main #area-meteorologia table th {
  border: 2px solid #2b2b2b;
  padding: 4px 2px;
}
main .titulo-area {
  margin-bottom: 3rem;
  margin-top: 4rem;
  text-align: center;
}
main.admin {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main.admin .wrapper-form-adicionar form {
  width: 100%;
}
main.admin .wrapper-form-adicionar form div {
  margin-top: -1rem;
}
main.admin .wrapper-form-adicionar form p, main.admin .wrapper-form-adicionar form div {
  display: block;
  margin-bottom: 2rem;
}
main.admin .wrapper-form-adicionar form p label, main.admin .wrapper-form-adicionar form div label {
  display: block;
  margin-bottom: 0.5rem;
}
main.admin .wrapper-form-adicionar form p input, main.admin .wrapper-form-adicionar form p textarea, main.admin .wrapper-form-adicionar form p select, main.admin .wrapper-form-adicionar form div input, main.admin .wrapper-form-adicionar form div textarea, main.admin .wrapper-form-adicionar form div select {
  width: 100%;
}
main.admin .wrapper-login {
  background-color: white;
  display: inline-block;
  padding: 3rem 4rem;
  border-radius: 5px;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2);
  margin: auto auto;
  text-align: center;
  width: 30%;
}
main.admin .wrapper-login h1 {
  margin-top: 0px;
}
main.admin .wrapper-login form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main.admin .wrapper-login form input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
main.admin .wrapper-login .wrapper-msg {
  color: #ff4141;
  margin-bottom: 10px;
}
main.admin .wrapper-lista-objs {
  min-width: 60%;
}
main.admin .wrapper-lista-objs .wrapper-lista-objs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
main.admin .wrapper-lista-objs table {
  width: 100%;
  border: 2px solid #2b2b2b;
  border-radius: 5px;
  padding: 0;
}
main.admin .wrapper-lista-objs table th {
  padding: 1rem;
  background-color: #2b2b2b;
  color: white;
}
main.admin .wrapper-lista-objs table td, main.admin .wrapper-lista-objs table th {
  border: 2px solid #2b2b2b;
  padding: 1rem;
}
main.admin .wrapper-lista-objs table td:last-child a {
  text-decoration: none;
  margin-right: 0.7rem;
  font-size: 1.2rem;
}
main.admin .wrapper-lista-objs table td:last-child a:last-child {
  margin-right: 0;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #2b2b2b;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  main #area-home #banner {
    flex-direction: column;
    gap: 1rem;
  }
  main #area-home #banner .banner__img {
    display: none;
  }
  main #area-home #banner .banner__img img {
    max-width: 100%;
  }
  main #area-sobre .skills .skill-lista {
    grid-template-columns: repeat(2, 1fr);
  }
  main #area-home .projetos-destaque, main #area-home .lista-projetos, main #area-videos .projetos-destaque, main #area-videos .lista-projetos, main #area-projetos .projetos-destaque, main #area-projetos .lista-projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  main #area-home .videos-destaque, main #area-home .lista-videos, main #area-videos .videos-destaque, main #area-videos .lista-videos, main #area-projetos .videos-destaque, main #area-projetos .lista-videos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 2rem;
  }
}
@media (max-width: 640px) {
  main #area-home #banner {
    flex-direction: column;
    gap: 1rem;
  }
  main #area-home #banner .banner__img {
    display: none;
  }
  main #area-home #banner .banner__img img {
    max-width: 100%;
  }
  main #area-sobre .skills .skill-lista {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  main #area-sobre .skills .skill-lista .skill__item {
    justify-content: center;
  }
  main #area-home .projetos-destaque, main #area-home .lista-projetos, main #area-videos .projetos-destaque, main #area-videos .lista-projetos, main #area-projetos .projetos-destaque, main #area-projetos .lista-projetos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  main #area-home .videos-destaque, main #area-home .lista-videos, main #area-videos .videos-destaque, main #area-videos .lista-videos, main #area-projetos .videos-destaque, main #area-projetos .lista-videos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}