<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Andre Carvalho - 1998andrecarvalho@gmail.com">
        <title>
            {% if seoTitle != "" %}
                {{ seoTitle }}
            {% else %}
                André Carvalho
            {% endif %}
        </title>
        <meta name="description" content=" {% if seoDescription != "" %}
                {{ seoDescription }}
            {% else %}
                André Carvalho - Developer / Drone Pilot / Musician
            {% endif %}">
        <!-- layout.html -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@300;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <script defer src="{% static 'portfolio/js/main.js' %}"></script>
    </head>
    <body>
        <header>
            <a class="link-menu-mobile">
                <span class="middle-bar"></span>
            </a>
            <div><a href="{% url 'portfolio:home' %}" style="color: white; text-decoration: none">André Carvalho</a></div>
            <nav class="hero__menu">
                <a href="{% url 'users:index' %}">Home</a>

                <div class="dropdown">
                    <a href="javascript:;" class="dropdown__trigger">Projetos</a>
                    <div class="dropdown__content">
                        <a href="{% url 'users:lista_projetos' %}">Lista Projetos</a>
                        <a href="{% url 'users:adiciona_projeto' %}">Adicionar Projeto</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="javascript:;" class="dropdown__trigger">Videos</a>
                    <div class="dropdown__content">
                        <a href="{% url 'users:lista_videos' %}">Lista Videos</a>
                        <a href="{% url 'users:adiciona_video' %}">Adicionar Video</a>
                    </div>
                </div>


                <a href="{% url 'users:logout' %}">Logout</a>
            </nav>
        </header>
        <main class="admin">
            {% block main %}
            {% endblock main %}
        </main>
        <footer>ULusófona, 2023</footer>
    </body>
</html>
