{% extends 'users/layout.html' %}

{% block main %}
    <div class="wrapper-login">
        <h1 class="h2">Login</h1>
        {% if message %}
            <div class="wrapper-msg">{{ message }}</div>
        {% endif %}
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login" class="button">
        </form>
    </div>
{% endblock %}