@import 'estilos_default';

header {
    height: $altura_header;
    background: $cor-cizento-escuro;
    color: white;
    top: 0;

    /* alinhando logo e menu */
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        font-size: 2em;
        padding: 1em;
    }

    nav {
        display: flex;
        justify-contents: flex-end;
    }

    nav a {
        padding: 1rem 1em;
        text-decoration: none;
        font-size: 1rem;
        color: lightgray;
    }

    .dropdown {
        padding: 0;
        display: flex;
        //width: 100%;

        .dropdown__trigger {
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: -2px;

            &:after {
                content: "+";
                margin-left: 0.8rem;
                width: 10px;
                height: 10px;
                display: inline-block;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .dropdown__content {
            position: absolute;
            opacity: 0;
            display: none;
            transition: opacity 0.3s ease-in-out;
            background-color: $cor-cizento-escuro;
            color: white;
            top: 45px;
            flex-wrap: wrap;
            padding: 1rem;
            gap: 1rem;

            &:hover {
                display: flex;
                opacity: 1;
            }

            a {
                padding: 0;
                width: 100%;
            }
        }

        &:hover .dropdown__content {
            display: flex;
            opacity: 1;
        }


    }

}

* {
    font-family: 'Geologica', sans-serif;
}

body {
    margin: 0;
}

main {

    margin: 0 auto;

    min-height: calc(100vh - $altura_header - $altura_footer);


    .w-1200 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 12px;
    }

    .w-800 {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 12px;
    }

    .w-600 {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 12px;
    }

    #area-home {
        #banner {
            margin-top: $default-margin;
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: space-between;

            .banner__texto {
                h1 {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            .banner__img {
                img {
                    max-width: 500px;
                }
            }
        }

        #sobre {
            background-color: $cor-cizento-escuro;
            width: 100%;
            padding: calc($default-margin / 2) 0;
            color: white;

            .wrapper-info {
                h2 {
                    margin-top: 0;
                }

                .button {
                    margin-top: 3rem;
                }
            }
        }

        #projetos, #videos {
            text-align: center;

            .button {
                margin-top: 3rem;
            }
        }

    }

    #area-home, #area-videos, #area-projetos {
        .projetos-destaque, .lista-projetos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;

            .lista-projetos__item {
                box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .04);
                -webkit-transition: box-shadow 0.3s;
                border-radius: 5px;

                &:hover {
                    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .08);
                }

                .lista-projetos__item__wrapper-img {
                    img {
                        width: 100%;
                        max-width: 100%;
                        object-fit: cover;
                        aspect-ratio: 3/2;
                        border-radius: 5px 5px 0 0;
                    }
                }

                .lista-projetos__item__wrapper-conteudo {
                    padding: 1.5rem 1.5rem 3rem;

                    .lista-projetos__item__titulo {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }

        .videos-destaque, .lista-videos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;

            .lista-videos__item {
                box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .04);
                -webkit-transition: box-shadow 0.3s;
                border-radius: 5px;

                &:hover {
                    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .08);
                }

                .lista-videos__item__wrapper-iframe {
                    height: 100%;

                    iframe {
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        aspect-ratio: 16/8;
                    }
                }

                .llista-videos__item__wrapper-conteudo {
                    padding: 1.5rem 1.5rem 3rem;

                    .lista-videos__item__titulo {
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }

    #area-projetos {

    }

    #area-videos {
        h1 {
            color: white;
        }

        #bg-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            pointer-events: none;
        }
    }

    #area-labs {
        text-align: center;

        .lista-labs {
            .lista-labs__item {
                text-align: center;
                margin-bottom: 6rem;

                iframe {
                    margin-bottom: 2rem;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    #area-contactos {
        text-align: center;

        .hero__subtitle {
            a {
                font-size: 1.8rem;
                text-decoration: none;
            }
        }
    }

    #area-sobre {
        text-align: center;

        .intro {
            background-color: #f9f9f9;
            padding: 6rem 1rem;


            .wrapper-texto {
                h1 {
                    margin-top: 0px;
                }

                max-width: 600px;
                margin: auto;
            }
        }

        .skills {
            padding: 6rem 1rem;
            background-color: $cor-cizento-escuro;
            color: white;

            h2 {
                margin-top: 0px;
            }

            .skill-lista {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                max-width: 700px;
                margin: auto;
                gap: 2rem 4rem;

                .skill__item {
                    margin-bottom: 2rem;
                    display: flex;
                    align-items: center;
                    gap: 2rem;

                    .wrapper-img {
                        min-width: 80px;

                        img {
                            max-width: 80px;
                            max-height: 50px;
                        }
                    }

                    .classificacao {
                        height: 9px;
                        background-color: $cor-cizento-claro;
                        width: 6rem;
                        border-radius: 4px;
                        position: relative;
                        border: 2px solid $cor-laranja;

                        span {
                            position: absolute;
                            background-color: $cor-laranja;
                            display: inline-block;
                            left: 0;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .formacao {
            padding: 6rem 1rem;

            h2 {
                margin-top: 0px;
            }
        }
    }

    #area-meteorologia {
        table {
            border: 2px solid $cor-cizento-escuro;
            border-radius: 4px;

            td,th {
                border: 2px solid $cor-cizento-escuro;
                padding: 4px 2px;
            }
        }
    }

    .titulo-area {
        margin-bottom: 3rem;
        margin-top: 4rem;
        text-align: center;
    }

    &.admin {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .wrapper-form-adicionar {

            form {
                //display: flex;
                //flex-wrap: wrap;
                //gap: 3rem;

                width: 100%;

                div {
                    margin-top: -1rem;
                }

                p, div {
                    display: block;
                    margin-bottom: 2rem;

                    label {
                        //text-align: center;
                        display: block;
                        margin-bottom: 0.5rem;
                    }

                    input, textarea, select {
                        width: 100%;
                    }
                }
            }

        }

        .wrapper-login {
            background-color: white;
            display: inline-block;
            padding: 3rem 4rem;
            border-radius: 5px;
            box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .2);
            margin: auto auto;
            text-align: center;
            width: 30%;


            h1 {
                margin-top: 0px;
            }

            form {
                text-align: center;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                input {
                    display: block;
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }

            .wrapper-msg {
                color: $cor-vermelho;
                margin-bottom: 10px;
            }
        }

        .wrapper-lista-objs {
            min-width: 60%;

            .wrapper-lista-objs__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
                flex-wrap: wrap;
            }

            table {
                width: 100%;
                border: 2px solid $cor-cizento-escuro;
                border-radius: 5px;

                padding: 0;

                th {
                    padding: 1rem;
                    background-color: $cor-cizento-escuro;
                    color: white;
                }

                td, th {
                    border: 2px solid $cor-cizento-escuro;
                    padding: 1rem;
                }

                td:last-child {
                    a {
                        text-decoration: none;
                        margin-right: 0.7rem;
                        font-size: 1.2rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

}

footer {
    width: 100%;
    color: white;
    text-align: center;
    background-color: $cor-cizento-escuro;
    height: $altura_footer;

    display: flex;
    align-items: center;
    justify-content: center;

}

// Media queries para dispositivos médios
@media (max-width: 1024px) {
    main {
        #area-home {
            #banner {
                flex-direction: column;
                gap: 1rem;

                .banner__img {
                    display: none;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        #area-sobre {
            .skills {
                .skill-lista {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }

        #area-home, #area-videos, #area-projetos {
            .projetos-destaque, .lista-projetos {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 2rem;
            }

            .videos-destaque, .lista-videos {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-gap: 2rem;
            }
        }
    }
}

@media (max-width: 640px) {
    main {
        #area-home {
            #banner {
                flex-direction: column;
                gap: 1rem;

                .banner__img {
                    display: none;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        #area-sobre {
            .skills {
                .skill-lista {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 1rem;

                    .skill__item {
                        justify-content: center;
                    }
                }
            }
        }

        #area-home, #area-videos, #area-projetos {
            .projetos-destaque, .lista-projetos {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 2rem;
            }

            .videos-destaque, .lista-videos {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 2rem;
            }
        }
    }
}
