$font-size-reference: 16px; // Tamanho de referência dos títulos
$title-ratio: 1.618; // Golden ratio

// Tamanhos de fonte para dispositivos móveis
$font-size-mobile: (
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio * $title-ratio,
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio,
        $font-size-reference * $title-ratio * $title-ratio,
        $font-size-reference * $title-ratio,
        $font-size-reference,
);

// Tamanhos de fonte para dispositivos médios
$font-size-medium: (
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio * $title-ratio - 20px,
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio - 10px,
        $font-size-reference * $title-ratio * $title-ratio - 15px,
        $font-size-reference * $title-ratio,
        $font-size-reference,
);

// Tamanhos de fonte para dispositivos large
$font-size-large: $font-size-medium;


$altura_header: 60px;
$altura_footer: 40px;

$cor-laranja: #f7b63e;
$cor-cizento-escuro: #2b2b2b;

$default-margin: 7rem;


section:not(.no-mb) {
    margin-bottom: $default-margin;
}

footer {
    margin-top: 7rem;
}

// Media queries para dispositivos grandes
@media (min-width: 1024px) {
    @each $i in (1, 2, 3, 4, 5) {
        h#{$i}, .h#{$i} {
            line-height: 1;
            font-size: nth($font-size-large, $i);
        }
    }
}

// Media queries para dispositivos médios
@media (max-width: 1024px) {
    @each $i in (1, 2, 3, 4, 5) {
        h#{$i}, .h#{$i} {
            line-height: 1;
            font-size: nth($font-size-medium, $i);
        }
    }

    section:not(.no-mb) {
        margin-bottom: calc($default-margin / 2);

    }

    footer {
        margin-top: 6rem;
    }
}

// Media queries para dispositivos móveis
@media (max-width: 640px) {
    @each $i in (1, 2, 3, 4, 5) {
        h#{$i}, .h#{$i} {
            line-height: 1;
            font-size: nth($font-size-mobile, $i);
        }
    }


    footer {
        margin-top: 4rem;
    }
}


.button, button {

    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $cor-laranja;
    border-radius: 0.6em;
    color: $cor-laranja;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }

    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;

    &:hover {
        box-shadow: 0 0 40px 40px $cor-laranja inset;
    }
}