$font-size-reference: 16px; // Tamanho de referência dos títulos
$title-ratio: 1.618; // Golden ratio

// Tamanhos de fonte para dispositivos móveis
$font-size-mobile: (
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio * $title-ratio - 40px,
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio - 30px,
        $font-size-reference * $title-ratio * $title-ratio,
        $font-size-reference * $title-ratio,
        $font-size-reference,
);

// Tamanhos de fonte para dispositivos médios
$font-size-medium: (
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio * $title-ratio - 20px,
        $font-size-reference * $title-ratio * $title-ratio * $title-ratio - 10px,
        $font-size-reference * $title-ratio * $title-ratio - 15px,
        $font-size-reference * $title-ratio,
        $font-size-reference,
);

// Tamanhos de fonte para dispositivos large
$font-size-large: $font-size-medium;


$altura_header: 60px;
$altura_footer: 40px;

$cor-laranja: #f7b63e;
$cor-cizento-escuro: #2b2b2b;
$cor-cizento-claro: #f9f9f9;
$cor-vermelho: #ff4141;

$default-margin: 7rem;


section:not(.no-mb) {
    margin-bottom: $default-margin;
}

header {
    .link-menu-mobile {
        display: none;
    }
}

footer {
    margin-top: 7rem;
}

// Media queries para dispositivos grandes
@media (min-width: 1024px) {
    @each $i in (1, 2, 3, 4, 5) {
        h#{$i}, .h#{$i} {
            line-height: 1;
            font-size: nth($font-size-large, $i);
        }
    }
}

// Media queries para dispositivos médios
@media (max-width: 1024px) {
    @each $i in (1, 2, 3, 4, 5) {
        h#{$i}, .h#{$i} {
            line-height: 1;
            font-size: nth($font-size-medium, $i);
        }
    }

    section:not(.no-mb) {
        margin-bottom: calc($default-margin / 2);

    }

    footer {
        margin-top: 6rem;
    }
}

// Media queries para dispositivos móveis
@media (max-width: 640px) {
    @each $i in (1, 2, 3, 4, 5) {
        h#{$i}, .h#{$i} {
            line-height: 1;
            font-size: nth($font-size-mobile, $i);
        }
    }


    footer {
        margin-top: 4rem;
    }
}

// Media queries para menu mobile
@media (max-width: 860px) {
    header {
        div.logo {
            font-size: 1.2rem;
        }

        .dropdown {
            position: relative;
            width: 100%;

            .dropdown__content {
                top: 3rem;
                z-index: 9;
            }
        }
    }

    a.link-menu-mobile {
        display: block;
        width: 2rem;
        position: relative;
        height: 1.8rem;
        z-index: 5;
        margin-left: 0.5rem;


        .middle-bar {
            border: 2px solid white;
            position: absolute;
            display: block;
            width: 60%;
            top: 45%;
            transition: transform 0.2s;
            opacity: 1;
        }

        &::before {
            content: "";
            border: 2px solid white;
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            transition: transform 0.2s;
        }

        &::after {
            content: "";
            border: 2px solid white;
            width: 100%;
            display: block;
            position: absolute;
            bottom: 0;
            transition: transform 0.2s;
        }

        &.link-menu-mobile--close {

            .middle-bar {
                transform: translateX(-4rem);
            }

            &::before {
                transform: rotate(45deg);
                top: 59%;
            }

            &::after {
                transform: rotate(309deg);
                bottom: 36%;
            }
        }
    }

    nav.hero__menu {
        display: none;

        &.hero__menu--open {
            position: absolute;
            height: 100%;
            width: 80%;
            max-width: 300px;
            background-color: rgba(#212121, 0.99);
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            a {
                width: 100%;
            }

            ul {
                height: 100%;
                flex-wrap: wrap;
                text-align: center;
                justify-items: center;
                align-content: center;

                li {
                    display: block;
                    width: 100%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

form {
    input, textarea, select {
        border: 2px solid grey;
        border-radius: 5px;
        padding: 11px 13px;
    }
}

.button, button {

    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $cor-laranja;
    border-radius: 0.6em;
    color: $cor-laranja;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
    }

    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;

    &:hover {
        box-shadow: 0 0 40px 40px $cor-laranja inset;
    }
}